form {
    display: flex;
    flex-direction: column;
    gap : 5vh;
    justify-content: space-around;
    margin-top: 5vh;
}

h6 {
    font-style: italic;
    color: rgb(138, 33, 33);
    font-weight: 900;
    font-size: 15px;
    position: absolute;
    top: -50px
}
.field {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    /* background-color: aqua; */
}